@model List<Inspicio.Controllers.ImagesController.IndexModel>


@{
    ViewData["Title"] = "Index";
}

<h2>View All Reviews</h2>

<p>
    <a asp-action="Create">Create Review</a>
</p>

<form asp-controller="Images" asp-action="Index">
    <p>
        <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Search for reviews..">
    </p>
</form>

<table id="table">
    <thead>
        <tr class="header">
            <th>
                Content
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image.Description)
            </th>
            <th>
                <img src="~/images/thumbup.jpg" style="height: 20px;" />
            </th>
            <th>
                <img src="~/images/thumbmid.jpg" style="height: 20px;" />
            </th>
            <th>
                 <img src="~/images/thumbdown.jpg" style="height: 20px;" />
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image.ReviewStatus)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
        <tr onclick="document.location = 'Images/View/@item.Image.ImageID'" style="cursor:pointer" >


                <td>
                <a asp-action="View" asp-route-id="@item.Image.ImageID">
                    <img style="max-height: 100px; max-width: 100px;" src="@item.Image.Content" />
                </a>
                
                </td>

                <td>
                <a asp-action="View" asp-route-id="@item.Image.ImageID">
                    @Html.DisplayFor(modelItem => item.Image.Title)
                </a>
                </td>

                <td>
                <a asp-action="View" asp-route-id="@item.Image.ImageID">
                    @Html.DisplayFor(modelItem => item.Image.Description)
                 </a>
                </td>
                <td>
                <a asp-action="View" asp-route-id="@item.Image.ImageID">
                   @Html.DisplayFor(modelItem => item.approvals)
                </a>
                </td>

                <td>
                <a asp-action="View" asp-route-id="@item.Image.ImageID">
                    @Html.DisplayFor(modelItem => item.needsWorks)
                </a>
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.Image.ImageID">
                    @Html.DisplayFor(modelItem => item.rejections)
                </a>
            </td>     
            <td>
                <a asp-action="View" asp-route-id="@item.Image.ImageID">
                    @Html.DisplayFor(modelItem => item.Image.ReviewStatus)
                </a>
                </td>
            </tr>
        }


    </tbody>
</table>

<script type="text/javascript" src="~/js/Search.js"></script>
