@model IEnumerable<Inspicio.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h2>View all Reviews</h2>
<br />
<p>
    <a asp-action="Create">Create Review</a>
</p>

<form asp-controller="Images" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <img src="~/images/thumbup.jpg" style="height: 20px;" />
            </th>
            <th>
                <img src="~/images/thumbdown.jpg" style="height: 20px;" />
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewStatus)
            </th>
           
   
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
        <tr onclick="document.location = 'Images/View/@item.ImageID'" style="cursor:pointer" >
                <td>
                        <img style="max-height: 100px; max-width: 100px;" src="@item.Content" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfLikes)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NoOfDislikes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewStatus)
                </td>


</tr>
}

    </tbody>
</table>
