@model List<Inspicio.Models.ReviewViewModels.IndexModel>
@inject UserManager<ApplicationUser> UserManager


<h2>View All Reviews</h2>

<p>
    <input type="text" id="myInput" placeholder="Search for reviews..">
</p>

<table id="table">
    <thead>
        <tr class="header" style="border-bottom: solid; border-width: 3px;">
            <th class="content" data-toggle="tooltip" title="Review Image">
                Content
            </th>
            <th class="TitleHeader" style="cursor: pointer;" data-toggle="tooltip" title="Review Title">
                Title
            </th>
            <th class="CreatorHeader" id="creator" style="cursor: pointer;" data-toggle="tooltip" title="Review Creator">
                Creator
            </th>
            <th id="up-col">
                <img src="~/images/thumbup.jpg" style="height: 20px;" data-toggle="tooltip" title="Number of reviewers who have approved the review" />
            </th>
            <th id="mid-col">
                <img src="~/images/thumbmid.jpg" style="height: 20px;" data-toggle="tooltip" title="Number of reviewers requesting changes" />
            </th>
            <th id="down-col">
                 <img src="~/images/thumbdown.jpg" style="height: 20px;" data-toggle="tooltip" title="Number of reviewers who have rejected the review"/>
            </th>
            <th class="StatusHeader" id="status" style="cursor: pointer;" data-toggle="tooltip" title="Whether the review is open or closed">
                Status
            </th>
        </tr>
    </thead>
    <tbody id="tBody" style="border-bottom: solid; border-width: 3px;">

@foreach (var item in Model)
{ 
        <tr title="@item.Review.Title" onclick="document.location = 'Images/View/@item.Review.ReviewId'" style="cursor:pointer; border-bottom:solid;border-bottom-width:1px;" >
                <td id="content" class="text-left"  data-toggle="tooltip" title="Review Image" >
                    <img style="max-height: 120px; max-width: 120px; margin-bottom: 5px; margin-top: 10px;" src="@item.Review.Thumbnail" />
                </td>
                <td id="title" data-toggle="tooltip" title="Review Title">
                    @{
                        if(item.Review.Title!= null) {
                         string defaultTitle = item.Review.Title;
                         string title = (defaultTitle.Length <= 100) ? defaultTitle : defaultTitle.Substring(0, 100) + "...";
                         @Html.DisplayFor(modelItem => title)
                        }
                    }
                </td>
                <td id="creator" data-toggle="tooltip" title="Review Creator">
                    @{
                        var user = await UserManager.FindByIdAsync(item.Review.CreatorId);
                        @Html.DisplayFor(modelItem => user.ProfileName);
                     }
                </td>
                <td id="up-col" data-toggle="tooltip" title="Number of reviewers who have approved the review">
                   @Html.DisplayFor(modelItem => item.approvals)
                </td>
                <td id="mid-col" data-toggle="tooltip" title="Number of reviewers requesting changes" >
                    @Html.DisplayFor(modelItem => item.needsWorks)
                </td>
                <td id="down-col"  data-toggle="tooltip" title="Number of reviewers who have rejected the review">
                    @Html.DisplayFor(modelItem => item.rejections)
                </td>     
                <td id="status" data-toggle="tooltip" title="Whether the review is open or closed">
                    @Html.DisplayFor(modelItem => item.Review.ReviewState)
                </td>
            </tr>
        }


    </tbody>
</table>

<script type="text/javascript" src="~/js/SortTable.js"></script>
<script type="text/javascript" src="~/js/Search.js"></script>