@model List<Inspicio.Controllers.ImagesController.IndexModel>
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2>View All Reviews</h2>

<p>
    <a asp-action="Create">Create Review</a>
</p>

    <p>
        <input type="text" id="myInput" placeholder="Search for reviews..">
    </p>

<table id="table">
    <thead>
        <tr class="header">
            <th id="content">
                Content
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image.Title)
            </th>
            <th id="creator">
                Creator
            </th>
            <th id="up-col">
                <img src="~/images/thumbup.jpg" style="height: 20px;" />
            </th>
            <th id="mid-col">
                <img src="~/images/thumbmid.jpg" style="height: 20px;" />
            </th>
            <th id="down-col">
                 <img src="~/images/thumbdown.jpg" style="height: 20px;" />
            </th>
            <th id="status">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image.ReviewStatus)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
        <tr onclick="document.location = 'Images/View/@item.Image.ImageID'" style="cursor:pointer" >
                <td id="content">
                    <img style="max-height: 100px; max-width: 100px;" src="@item.Image.Content" />
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Image.Title)
                </td>
                <td id="creator">
                    @{
                        var user = await UserManager.FindByIdAsync(item.Image.OwnerId);
                    @Html.DisplayFor(modelItem => user.ProfileName);
                     }
                </td>
                <td id="up-col">
                   @Html.DisplayFor(modelItem => item.approvals)
                </td>
                <td id="mid-col">
                    @Html.DisplayFor(modelItem => item.needsWorks)
                </td>
                <td id="down-col">
                    @Html.DisplayFor(modelItem => item.rejections)
                </td>     
                <td id="status">
                    @Html.DisplayFor(modelItem => item.Image.ReviewStatus)
                </td>
            </tr>
        }


    </tbody>
</table>

<script type="text/javascript" src="~/js/Search.js"></script>
