@model IEnumerable<Inspicio.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h2>Viewing All</h2>
<br />
<p>
    <a asp-action="Create">Create Review</a>
</p>

<form asp-controller="Images" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfLikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDislikes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenReview)
            </th>
           
   
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>

            <td>
                <a asp-action="View" asp-route-id="@item.ImageID">
                    <img style="max-height: 100px; max-width: 100px;" src="@item.Content" />
                </a>
                
            </td>

            <td>
                <a asp-action="View" asp-route-id="@item.ImageID">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>

            <td>
                <a asp-action="View" asp-route-id="@item.ImageID">
                    @Html.DisplayFor(modelItem => item.Description)
                 </a>
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.ImageID">
                    @Html.DisplayFor(modelItem => item.NoOfLikes)
                </a>
            </td>
           
            <td>
                <a asp-action="View" asp-route-id="@item.ImageID">
                    @Html.DisplayFor(modelItem => item.NoOfDislikes)
                </a>
            </td>
            <td>
                <a asp-action="View" asp-route-id="@item.ImageID">
                    @Html.DisplayFor(modelItem => item.OpenReview)
                </a>
            </td>
            
          
        </tr>
}

    </tbody>
</table>
