@model List<Inspicio.Controllers.ImagesController.IndexModel>


@{
    ViewData["Title"] = "Index";
}



<h2>Viewing All</h2>
<br />
<p>
    <a asp-action="Create">Create Review</a>
</p>

<form asp-controller="Images" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image.Description)
            </th>
            <th>
                Approvals
            </th>
            <th>
                Needs Work
            </th>
            <th>
                Rejected
            </th>
        </tr>
    </thead>
    <tbody>


@{
    foreach (var ImageData in Model)
    {

        <tr>

            <td>
                <a asp-action="View" asp-route-id="@ImageData.Image.ImageID">
                    <img style="max-height: 100px; max-width: 100px;" src="@ImageData.Image.Content" />
                </a>
                
            </td>

            <td>
                <a asp-action="View" asp-route-id="@ImageData.Image.ImageID">
                    @Html.DisplayFor(modelItem => ImageData.Image.Title)
                </a>
            </td>

            <td>
                <a asp-action="View" asp-route-id="@ImageData.Image.ImageID">
                    @Html.DisplayFor(modelItem => ImageData.Image.Description)
                 </a>
            </td>
            <td>
                <a asp-action="View" asp-route-id="@ImageData.Image.ImageID">
                   @Html.DisplayFor(modelItem => ImageData.approvals)
                </a>
            </td>

            <td>
                <a asp-action="View" asp-route-id="@ImageData.Image.ImageID">
                    @Html.DisplayFor(modelItem => ImageData.needsWorks)
                </a>
            </td>
           
            <td>
                <a asp-action="View" asp-route-id="@ImageData.Image.ImageID">
                    @Html.DisplayFor(modelItem => ImageData.rejections)
                </a>
            </td>           
          
        </tr>
        }
    }

    </tbody>
</table>
