@model Inspicio.Controllers.ImagesController.DataToBody

<h2>@Model.Image.Title</h2>

<div class="container-fluid">

    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input id="ImageId"type="hidden" asp-for="@Model.Image.ImageID" />
    <div class="row" >
        
        <div class="col-xs-12 col-sm-12 col-md-7"  >
            <div class="img-wrapper"  >
               
                    <div class="col-md-12" id="image-container">
                        <div id="imageMap"></div>
                        <img src="@Url.Content(Model.Image.Content)" title="@Model.Image.Title" alt="@Model.Image.Title" class="img-responsive" />
                  
                    </div>

                
                    <div id="image-description"> 
                         
                        <h5>Status: Open</h5>
                        <h4>By : @Model.Image.OwnerId</h4>
                        <h3>Description</h3>
                        <p>@Model.Image.Description </p>
                    </div>
                
                    <div class="row image-controls text-center">
                        
                        <div id="thumb-container">

                            <!--If the user has already voted either thumbs up or down,change the fill to black-->

                            <button type="button" id="thumbs-up" class="btn btn-success thumb"> <i class="fa fa-thumbs-o-up " aria-hidden="true"></i> : <span class="rating">@Model.Image.UpRating</span></button>
                            <button type="button" id="thumbs-down" class="btn btn-danger thumb"><i class="fa fa-thumbs-o-down " aria-hidden="true"></i> : <span class="rating">@Model.Image.DownRating</span></button>
                            <br />
                            <button type="button" class="btn btn-info " onclick="popupState()">Hide markers</button>
                            <!--IF the image is created by the user--> <!--IF project is open-->
                            <button class="btn btn-warning " type="submit">Close</button>

                        </div> 
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5" st>
            
            <div id="comment-section">
                <!-- comments go here -->
                <h3 class="text-center">Comment section</h3>
                @foreach (Comment c in Model.Comments)
                {
                    <div class="row-eq-height comment">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <h5 class="username">@c.OwnerId</h5>
                            <p>@c.Timestamp</p>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <p>@c.Message</p>
                        </div>
                    </div>
                    
                }
                <!-- ends here -->
            </div>

            <div class="row" id="new-comment">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 input-group">
                    <textarea class="form-control" id="comment-textarea" rows="5" placeholder="Comment..."></textarea>
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit" id="submit-comment" onclick="commentClickMain()">
                            <i class="glyphicon glyphicon-share-alt"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
