@model Tuple<Image, List<Comment>>



<h2>@Model.Item1.Title</h2>

<div class="container-fluid">

    <hr />
    <!--<div asp-validation-summary="ModelOnly" class="text-danger"></div>-->
    <input id="image-id" type="hidden" asp-for="Item1.ImageID" />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12" id="image-container">
                    <div id="imageMap"></div>
                    <img src="@Url.Content(Model.Item1.Content)" title="@Model.Item1.Title" alt="@Model.Item1.Title" class="img-responsive" />

                </div>

            </div>
            <div class="row">
                <div id="image-description" class="col-md-12">
                    <h3>Description</h3>
                    <p>@Model.Item1.Description </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row image-controls">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <h4>By : Creator Name</h4> <h5>Status: Open</h5>
                    <div id="thumb-container">

                        <!--If the user has already voted either thumbs up or down,change the fill to black-->
                        <div class="btn-group" style="width:99%">
                            <button type="button" id="thumbs-down" class="btn btn-success thumb"> <i class="fa fa-thumbs-o-down " aria-hidden="true"></i> : 5</button>
                            <button type="button" id="thumbs-up" class="btn btn-danger thumb"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i> : 5</button>
                        </div>
                        <br />
                        <div class="btn-group" style="width:99%">
                            <button type="button" class="btn btn-info " onclick="popupState()">Hide markers</button>
                            <!--IF the image is created by the user--> <!--IF project is open-->
                            <button class="btn btn-warning " type="submit">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment-section">
               <!-- omments go here -->
                
                <!-- ends here -->
                <div class="row" id="new-comment">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 input-group">
                        <textarea class="form-control" id="comment-textarea" rows="5" placeholder="Comment..."></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" id="submit-comment">
                                <i class="glyphicon glyphicon-share-alt"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
