@model Inspicio.Models.ReviewViewModels.ViewModel
@using Inspicio.Extensions
@inject IJsonHelper Json;
@inject UserManager<ApplicationUser> UserManager


<script type="text/javascript" src="~/js/ajaxScreens.js"></script>
<link rel="stylesheet" href="~/css/review_information.css" />
<script type="text/javascript" src="~/js/review_view.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/js/bootstrap-colorpicker.min.js"></script>
<script type="text/javascript" src="~/js/background-selector.js"></script>
<div class="view-container
     
     @{ 
         if (Model.FullPage)
         {
             @: wide"
         }
         else
         {
             @: N\A"
         }
     }
     
    style="padding-top:0px">

    <input id="ReviewId" type="hidden" asp-for="@Model.Review.ReviewId" />

    <!-- Trigger/Open The Modal -->
    <h2 id="review-title">@Model.Review.Title <span id="toggle_review_info" class="fa fa-info-circle" aria-hidden="true" title="See Review information" style="cursor:pointer;"></span></h2>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>@Model.Review.Title</h3>
        
            <hr />
            <div id="review-information-description" > 
                @Html.Raw(Model.Review.Description)
            </div>
            <hr />
            <div id="review-state-section-modal">
                <h3 id="review-state">Review :@Model.Review.ReviewState</h3>
                @if (Model.Review.CreatorId == User.GetProfileId())
                {
                    <button class="lightbox-button btn" id="review-state-toggle"><span id="review-state-icon"></span></button>
                    <script>
                            @if (Model.Review.ReviewState == Review.States.Closed)
                            {
                               @:$("#review-state-toggle").attr("title", "Re-open Review");
                               @:$("#review-state-icon").addClass("fa fa-toggle-on");
                               @:$("#review-state-icon").removeClass("fa fa-toggle-off");
                            }
                            else
                            {
                                @:$("#review-state-toggle").attr("title", "Close Review");
                                @:$("#review-state-icon").addClass("fa fa-toggle-off");
                                @:$("#review-state-icon").removeClass("fa fa-toggle-on");
                            }
                    </script>
                    <button title="Delete review." type="button" id="delete-review" class="lightbox-button btn"><i class="fa fa-trash"></i></button>
                }
            </div>
        </div>
    </div>


<div class="row">
    @if (Model.ScreenIds.Count > 1)
    {

        <div class="col-lg-12 col-md-10">
            <div class="cover-container" style="border:solid;">
                @foreach (var id in Model.ScreenIds)
                {
                    <div class="cover-item" id="@id" onclick="screenSelector(@Model.Review.ReviewId, @id)" style="cursor: pointer;">
                        <span id="@id" class="state"></span>
                    </div>
                    <script>
                        screenContent( @id);
                    </script>
                }
            </div>
        </div>
    }
        <div class="reviewers-section">
            <div>
                @if (Model.Review.CreatorId == User.GetProfileId())
                { 
                    <div id="new-reviewees-section">
                        <button title="Select review reviewers." type="button" id="select_reviewers" class="lightbox-button btn" style="width:100%;">Select Reviewers</button>
                    </div>
                }

                <div class="reviewers-section-row" id="authour-section" style="display:inline-flex;">
                </div>

                <hr style="margin:5px;" />

                <div id="reviewees-section">
                </div>

                

                <!-- modal -->
                <div id="add-reviewees-modal" class="add-reviewees-modal">

                    <!-- Modal content -->
                    <div class="add-reviewees-modal-content">

                        <h4>Select Reviewers </h4>

                        <div id="all-users">
                            @{
                                var userList = UserManager.Users.ToList();
                                if (userList != null)
                                {
                                    <div class="row-eq-height">
                                        <div class="col-xs-1 col-md-1 text-center">

                                        </div>
                                        <div class="col-xs-2 col-md-2 text-left">

                                        </div>
                                        <div class="col-xs-4 col-md-4 text-left">
                                            <label> Profile name </label>
                                        </div>
                                        <div class="col-xs-4 col-md-4">
                                            <label> Email</label>
                                        </div>
                                    </div>

                                    @for (var i = 0; i < userList.Count; i++)
                                    {
                                        if (userList[i].Id != User.GetProfileId())
                                        {
                                            <div class="row-eq-height reviewer-info" style="padding-bottom: 5px;">
                                                <div class="col-xs-1 col-md-1 text-center">
                                                    <input id="reviewer-@i" type="checkbox"
                                                           @{ var match = Model.Reviewees.Select(u => u.UserId).ToList().FirstOrDefault(uList => uList.Contains(userList[i].Id)); if (match != null) { @: checked
                                                                                                                       } } />
                                                </div>

                                                <div class="col-xs-2 col-md-2">
                                                    <img width="40" height="40" alt="@userList[i].ProfileName" src="@userList[i].ProfilePicture" />
                                                </div>
                                                <div id="profilename-@i" class="col-xs-4 col-md-4 text-left">
                                                    <label id="profilename-@i" for="reviewer-@i"> @userList[i].ProfileName</label>
                                                </div>
                                                <div id="email-@i" class="col-xs-4 col-md-4">
                                                    <label id="email-@i" for="reviewer-@i"> @userList[i].Email</label><input type="hidden" id="id-@i" value="@userList[i].Id" />
                                                </div>

                                            </div>
                                                                   }
                                                               }
                                                               }
                            }
                        </div>

                        <div>
                            <button title="Save the current user selection" type="button" id="update-reviewers" class="lightbox-button btn" style="width: 100%;">Update Reviewers</button>
                        </div>

                    </div>
                </div>

                @for (var u = 0; u < Model.Reviewees.Count; u++)
                {

                    if (Model.Reviewees[u].UserId == Model.Review.CreatorId)
                    {
                        var user = await UserManager.FindByIdAsync(Model.Reviewees[u].UserId);
                        <script>
                            $("#authour-section").html('<img id="reviewers-avatar" src="@user.ProfilePicture" style="width:20px;height:20px;" /><p id="reviewers-name">@user.ProfileName</p>');
                        </script>
                    }

                    else
                    {
                        var user = await UserManager.FindByIdAsync(Model.Reviewees[u].UserId);
                        <script>
                            $('<img />', {
                                id: 'reviewers-avatar',
                                src: '@user.ProfilePicture',
                                style: 'width:20px;height:20px;'
                            }).appendTo("#reviewees-section");

                            $('<p />', {
                                id: 'reviewers-name-'+@u,
                                class: 'reviewers-section-names',
                                text: '@user.ProfileName',
                            }).appendTo("#reviewees-section");

                            $('<i />', {
                                id: 'reviewers-section-rating'+@u,
                                class: "",
                            }).appendTo("#reviewees-section");
                        </script>
                    }
                }
            </div>
        </div>
    </div>


    <hr />
<div id="screen-container">
    @{
        if (Model.screenData != null) {
            Html.RenderPartial("_ScreenPartial.cshtml");
        }
    }
</div>


</div>



<style>
    footer {
        display: none;
    }

    #showmarker{
        height:70px;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript" src="~/js/filter.js"></script>
<script type="text/javascript" src="~/js/widgetControl.js"></script>
<script type="text/javascript" src="~/js/sort-comments.js"></script>
<script type="text/javascript" src="~/js/ajaxComments.js"></script>
<script type="text/javascript" src="~/dist/images_view.bundle.js"></script>



<script>

    function createViewModels(id) {
       return {
           "Review": {
               "Title": "@Html.Raw(Model.Review.Title)",
               "Description": @Html.Raw(Model.Review.Description),
               "ReviewState": "@Html.Raw(Model.Review.ReviewState)",
               "ReviewStatus": "@Html.Raw(Model.Review.ReviewStatus)"
           },
           "ScreenIds": "@Html.Raw(Model.ScreenIds)",
           "Reviewees": "@Html.Raw(Model.Reviewees)",
           "screenData": "@Html.Raw(Model.screenData)",
           "ScreenId": id

       }
   }

</script>
<script>
    $(window).ready(function () {
        $.initialize(".date-header", function () {
            addComDates();
        });
    });
   

</script>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script src="~/js/jquery.initialize.js"></script>
